.git-overgrown
.bb/*
.BBEditLSPWorkspaceConfig.json
build/*
deployment/releases/*
playground/*
tags
tags.ignore

*/.DS_Store

bui-orig*
bui-rewrite*

dui/node_modules
dui/src-tauri/target/debug
dui/.vite

*/.bb/backups*