<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment Id="BeyondBetterRegistryEntries">
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="BBRegistryEntries" Guid="*" Win64="yes">
        <!-- Enable Windows Error Reporting for detailed crash logs -->
        <RegistryKey Root="HKLM" 
                     Key="Software\Microsoft\Windows\Windows Error Reporting\LocalDumps\Beyond Better">
          <RegistryValue Type="string" Name="DumpFolder" Value="%LOCALAPPDATA%\CrashDumps"/>
          <RegistryValue Type="dword" Name="DumpCount" Value="10"/>
          <RegistryValue Type="dword" Name="DumpType" Value="2"/>
        </RegistryKey>
        <!-- Enable Windows Installer logging -->
        <RegistryKey Root="HKLM" 
                     Key="Software\Policies\Microsoft\Windows\Installer">
          <RegistryValue Type="string" Name="Logging" Value="voicewarmupx!"/>
        </RegistryKey>
        <!-- Application Info -->
        <RegistryKey Root="HKLM" 
                     Key="Software\BeyondBetter\DUI"
                     ForceCreateOnInstall="yes"
                     ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Name="Version" Value="[ProductVersion]" KeyPath="yes"/>
          <RegistryValue Type="string" Name="InstallPath" Value="[INSTALLDIR]"/>
          <RegistryValue Type="string" Name="BinPath" Value="[INSTALLDIR]bin"/>
        </RegistryKey>

        <!-- Add to PATH during first run -->
        <RegistryKey Root="HKCU" 
                     Key="Software\BeyondBetter\DUI\FirstRun"
                     ForceCreateOnInstall="yes">
          <RegistryValue Type="integer" Name="PathUpdated" Value="0"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>